@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagens/pexels-freestockpro-7807785.jpg'); /* Caminho da imagem de fundo */
    background-size: cover; /* Ajuste para cobrir toda a área */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#container {
    display: flex; /* Ativa o flexbox para o container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* 100% da altura da viewport */
    background-color: transparent; /* Fundo transparente para o container */
}

#conteudo {
    
    background-color: #ffffff7a; /* Fundo branco para o conteúdo */
    padding: 20px;
    border: 1px solid #ccc; /* Borda cinza opcional */
    max-width: 600px; /* Largura máxima da div */
}

@media (max-width: 768px) {
    body {
        background-image: url(imagens/pexels-freestockpro-7807785.jpg);
        background-size: cover; /* Ajuste de imagem para telas menores */
        background-position: top;
    }
}

input{
    margin: 10px;
    
}

